<% @receipts.reverse.each do |receipt| %>
    <% message = receipt.message %>

    <div class="media">
        <div class="media-left">
        <!-- user avators can go here -->
        <a href="#">
            <%= image_tag(message.sender.basic_information.profile_pic_url) if message.sender.basic_information .profile_pic? %>
        </a>
        </div>

        <div class="media-body">

            <h4 class="media-heading">
                <%= message.sender.basic_information.firstname %> 
                <br>
                <small><b>Date: </b><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
            </h4>
            <%= message.body %>

        </div>
    </div>

<% end %>