<p id="notice"><%= notice %></p>

<p>
  <strong>Prefer:</strong>
  <%= @preference.prefer %>
</p>

<%= link_to 'Add', add_preference_path(@preference), class:"btn btn-light" %>
<%= link_to 'Back', preferences_path %>
